@font-face {
    font-family: 'Neuwelt';
    src: url(../fonts/Neuwelt-Regular.ttf);
}
html {
  scroll-behavior: smooth;
  font-family: 'Neuwelt';
  width: 100%;
  margin: 0;
}

body {
  width: 100%;
  margin: 0;
  
}

/* NAVBARRRRRRRR */

.infoheader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #022541;
  align-items: center;
  padding: 0 0px;
  text-align: center;
  color: #fff;
  z-index: 100;
}

.navbar{
  display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.header-text span {
  color: #f0622f;
  font-weight: 700;
}

.header-text p {
  margin: 0.8em;
  margin-left: 2.2em;
}

.foco {
  display: inline-flex;
}



.bandera {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  padding-bottom: 4px;
  margin-top: 5px;
}

.bandera a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

.bandera a:hover {
  color: orange;
  transition: color 0.3s ease;
}

.bandera img {
  vertical-align: middle;
  width: 30px;
  height: auto;
}

.container {
  max-width: 100%; /*cambiar en caso de error*/
  margin: 0 auto;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  padding-top: 5.5px;
}

.logo img {
  height: 25px;
}

.menu .links {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu .links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  transition: color 0.2s ease;
}

.menu .links a.active,
.menu .links a:hover {
  color: #2c91de;
}

.nav_menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.catalogo{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.catalogo .btn-descarga {
  background: #2c91de;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s ease;
}

.catalogo .btn-descarga:hover {
  background: #2c91de;
}

.top-bar {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 100;
  }

.top-bar.fixed {
    top: 0;
}

@media (max-width: 980px) {
  .top-bar {
    position: fixed;
    top: 130px;
    left: 0;
    width: 100%;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 100;
  }

  .top-bar.fixed {
        top: 0;
    }
}

@media(min-width: 1457px){
    .info {
      display: flex;
      align-items: center;
      list-style: none;
     position: absolute;
      right: 1.5%;
      top: 15px;
    }


    .header-text {
      width: 60%;

      text-align: left;
      align-items: center;
      font-size: 18px;
    }
}


@media(min-width: 980px) and (max-width: 1456px){
    .info {
      display: flex;
      align-items: center;
      list-style: none;
     position: absolute;
      right: 1%;
      top: 15px;
    }


    .header-text {
      width: 60%;
      padding-left: 2%;
      text-align: left;
      align-items: center;
      font-size: 18px;
    }
}

@media(max-width: 980px){

    .info {
    
      align-items: center;
      list-style: none;
      padding-bottom: 10px;
      
    }

    .header-text {
 font-size: 21px;
  padding-left: 2%;
  text-align: left;
  align-items: center;
}
}


@media(max-width: 622px){
    

    .header-text {
 font-size: 17px;
  padding-left: 2%;
  text-align: left;
  align-items: center;
}
}

.top-bar.fixed {
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: ease 0.1s;
}

/*PORTADA*/
.hero-container {
  position: relative;
  overflow: hidden;
  height: 87vh;
  user-select: none; /* importante */
}

.carousel {
  display: flex;
  height: 100%;
  transition: transform 0.3s ease;
  
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}


.carousel-item {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  pointer-events: none; /* evita que el mouse interactúe con la imagen */
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  max-width: 600px;
  color: white;
  z-index: 2;
  width: 90%;
  pointer-events: none;
}
.hero-text h1,
.hero-text p,
.hero-text .cta-button {
  opacity: 0;
  transform: translateY(50px);
}

.hero-text h1 {
  font-size: 40px;
}

.hero-text h1.animated,
.hero-text p.animated,
.hero-text .cta-button.animated {
  animation: slideUp 1s forwards;
}
.hero-text p.animated {
  animation-delay: 0.3s;
}

.cta-button.animated {
  animation-delay: 0.6s;
}

.hero-text p {
  animation-delay: 0.3s;
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #2c91de;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  animation-delay: 0.6s;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*PREGUNTA*/

.section-pregunta {
  padding-top: 130px;
  align-items: center;
  justify-content: center;
}

.pregunta {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}


.video {
  flex: 1;
  display: flex;
  justify-content: center;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
}

.video-thumbnail {
  width: 100%;
  max-width: 500px;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.texto {
  flex: 1;
}

.texto h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.texto p {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #72777b;
  padding-bottom: 50px;
  max-width: 600px;
}


.button-text {
  background: linear-gradient(90deg, #ff5e3a, #ff763b);
  padding: 15px 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s ease;
}


@media (max-width: 992px) {
  .pregunta {
    flex-direction: column;
    text-align: center;
  }

  .texto {
    width: 100%;
    padding: 0 20px;
  }

  .texto h1 {
    font-size: 2rem;
  }

  .texto p {
    font-size: 0.95rem;
  }

  .video-thumbnail {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .texto h1 {
    font-size: 1.5rem;
  }

  .texto p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .button-text {
    font-size: 12px;
    padding: 12px 16px;
  }
}

/*Datos numericos*/
.barra {
  width: 100%;
  display: flex;
  justify-content: center;
}

.barra-container {
  width: 75%;
  max-width: 85%;
  background-color: white;
  margin: 30px 0;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  padding-left: 5%;
}


.columna {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#icon-barra {
  margin: 0px 10px 10px 0px;
  background-color: #2c91de;
}

.columna-texto .hijo1 h1 {
  font-size: 1.7em;
  font-weight: 600;
  margin: 0px 0;
}

.columna-texto .hijo2 {
  font-size: 14px;
  color: #555;
  line-height: 1.3em;
}

#product-counter {
  padding-left: 40px;
}


@media (max-width: 768px) {
  .barra-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  .columna-texto .hijo1 h1 {
    font-size: 20px;
  }

  .columna img {
    width: 50px;
    height: 50px;
  }
}

/*TARJETAS PRODUCTOS*/

.section-tarjetas {
  background-image: url('https://toptradesourcing.com/wp-content/uploads/2023/12/top_china_source_products.webp');
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

.text-container p {
  line-height: 30px;
}

.text-container h1{
  font-size: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}


.product {
  background-color: #FFF;
  box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
}

.product img {
  height: 332px;
  width: 332px;
  align-items: center;
  justify-items: center;
  max-height: 332px;
  max-width: 332px;
  border: 4px solid #FFF;
  border-radius: 5%;
}

.product img:hover {
  align-items: center;
  justify-items: center;
  max-width: 100%;
  border: 4px solid #ff7b00;
  transition: all 0.3s ease; 
}

.product p {
    font-size: 1vw;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #FFF;
    border-radius: 50%;
}

@media (max-width: 768px) {
  .product p {
    font-size: 3.5vw;
  }
}

/*TOP TRADE*/


.why-toptrade {
  background-image: url(../assets/43475.jpg);
  padding: 0px 60px;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.why-toptrade .containertoptrade {
  
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  
}

.cards {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}

.card {
  
  width: 300px;
  
  background: #fff;
  padding: 30px 10px;
  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}


.icon:hover {
  transform: translateY(-5px);
  
}

.icon {
  width: 80px;
  height: 80px;
  background-color:  #000000;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.icon img{
   width: 40px; /* Aumenta el tamaño según sea necesario */
  height: 40px;
  object-fit: contain;
}

.card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #222;
}

.card p {
  font-size: 0.95rem;
  color: #444;
  line-height: 1.6;
}

.card .highlight {
  color: rgb(221, 81, 0);
  font-weight: bold;
}


/*Testimonios*/
.testimonios {
  padding: 60px 20px;
  text-align: center;
  justify-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.parent{
  display: grid;
  align-items: center;
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
  grid-template-columns: 50px 1fr 50px;
}

.slider-banderas{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider-banderas .barra-banderas{
    display: flex;
    animation: scroll2 15s linear infinite;
    -webkit-animation:scroll2 15s linear infinite;
    width: calc(276px * 5);
}   

.slider-banderas .bandera{
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}

.slider-banderas .barra-banderas img{
    width: 200px;
    height: 120px;
    margin: 40px;
    margin-top: 0px;
}

@keyframes scroll2 {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-276px * 5));
        transform: translateX(calc(-276px * 5));
    }
}


/*Solicitud*/

.solicitud{
  text-align: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

.solicitud h1 {
  font-size: 40px;
}


.container {
  flex-wrap: wrap;
  gap: 2rem;
  
}

.contacto {
  background-color: #192b3b;
  background-repeat: no-repeat;
  background-position: bottom right;
  color: white;
  padding: 2rem;
  flex: 1 1 300px;
  max-width: 340px;
  border-radius: 4px;
}

.imagen-contacto {
  display: flex;
}

.imagen-contacto p {
  padding: 20px;
}

.contacto img {
  width: 150px;
  border-radius: 2px;
}

.qr-codes {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

#direccion {
  font-size: 17px;
}

.qr-codes img {
  width: 100px;
  height: 100px;
}

.formulario {
  flex: 2 1 500px;
  text-align: left;
  padding: 2rem;
  
}





.grid-form label {
  font-weight: bold;
}

.grid-form input {
  width: 97%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.grid-form select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.contact-container {
  display: flex;
}

.contact select{
  flex: 1;
  font-family: 'Neuwelt';
}

.contact input{
  flex: 2;
  font-family: 'Neuwelt';
}

.grid-form .select {
  width: 100px;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.grid-form .checkbox {
  width: 30px;
  padding: 0.5rem;
  margin-top: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.mensaje {
  padding-top: 20px;
}

.mensaje label {
  font-weight: bold;
}

.mensaje textarea {
  width: 98.5%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 2px;
  border: 1px solid #ccc;
  resize: vertical;
  font-family: 'Neuwelt';
}

.mensaje p {
  margin: 0;
}

.btn-enviar {
  background-color: #2c91de;
  color: white;
  border-radius: 8px;
  padding: 1em 3em;
  line-height: 24px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  font-family: 'Neuwelt';
}

.aviso {
  font-size: 0.9rem;
  color: #666;
}

.boton-form{
  text-align: center;
}

.contacto a {
  color: white;
}

.grid-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1.5rem;
  }


@media(max-width: 1456px) {
  .grid-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }
}

@media (max-width: 992px) {
  .solicitud h1 {
    font-size: 28px;
  }

  .formulario {
    padding: 1rem;
  }

  .contacto {
    max-width: 100%;
    padding: 1.5rem;
    text-align: center;
  }

  .imagen-contacto {
    flex-direction: column;
    align-items: center;
  }

  .qr-codes {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .boton-form {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .solicitud h1 {
    font-size: 24px;
  }

  .grid-form {
    grid-template-columns: 1fr;
  }

  .btn-enviar {
    width: 100%;
    font-size: 16px;
    padding: 0.75em;
  }

  .mensaje textarea {
    width: 100% !important;
  }
}
/*FOOTERRR*/

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-logo,
.footer-contact {
  flex: 1 1;
}




.footer-logo img.logo {
  width: 180px;
  margin-bottom: 10px;
}

.footer-logo p {
  margin: 6px 0;
  font-size: 16px;
  padding-top: 6.5px;
}

.contact-button {
  display: inline-block;
  margin-top: 15px;
  background-color: #2c91de;
  color: white;
  border-radius: 8px;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.footer-products h3,
.footer-contact h3 {
  margin-bottom: 35px;
  margin-top: 0;
}


.footer-products{
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
}


.product-columns {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.product-columns ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.product-columns li {
  margin: 6px 0;
  font-size: 16px;
}

.footer-contact p {
  font-size: 16px;
  margin: 8px 0;
  padding-top: 5.3px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000; /* Color por defecto */
}

.social-icons a.linkedin {
  background-color: #0077b5;
}
.social-icons a.whatsapp {
  background-color: #25D366;
}
.social-icons a.youtube {
  background-color: #cd201f;
}
.social-icons a.facebook {
  background-color: #3b5998;
}

.social-icons svg {
  width: 15px;
  height: 15px;
  fill: white; /* Esto cambia el color interno a blanco, si el SVG lo permite */
}

.footer-bottom {
  border-top: 1px solid #ffffff;
  padding-top: 15px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
}

.footer-bottom .copy {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 15px;
}

.footer-bottom a {
  color: #fff;
  text-decoration: underline;
}


@media (max-width: 768px) {
  .product-columns {
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .social-icons {
    margin-top: 10px;
  }
}
